<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Products</h1>
    <a href="/product/new" class="btn btn-primary">Add New Product</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, status : ${products}">
            <td th:text="${status.count}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
